org.ai4fm.filehistory/bin
org.ai4fm.filehistory.core/bin
org.ai4fm.proofprocess/bin
org.ai4fm.proofprocess.edit/bin
org.ai4fm.proofprocess.core/bin
org.ai4fm.proofprocess.ui/bin
org.ai4fm.proofprocess.project/bin
org.ai4fm.proofprocess.project.edit/bin
org.ai4fm.proofprocess.project.core/bin
org.ai4fm.proofprocess.zeves/bin
org.ai4fm.proofprocess.zeves.edit/bin
org.ai4fm.proofprocess.zeves.ui/bin
org.ai4fm.proofprocess.isabelle/bin
org.ai4fm.proofprocess.isabelle.core/bin
org.ai4fm.proofprocess.isabelle.edit/bin
org.ai4fm.proofprocess.isabelle.ui/bin
model/.project
.cache
