<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org/ai4fm/proofprocess/zeves/v1.0.0.12"
            class="org.ai4fm.proofprocess.zeves.ZEvesProofProcessPackage"
            genModel="model/ZEvesProofProcess.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="model/history/ZEvesProofProcess-v1.0.0.ecore"
            uri="http://org/ai4fm/proofprocess/zeves/v1.0.0">
      </resource>
      <resource
            location="model/history/ZEvesProofProcess-v1.0.0.10.ecore"
            uri="http://org/ai4fm/proofprocess/zeves/v1.0.0.10">
      </resource>
      <resource
            location="model/history/ZEvesProofProcess-v1.0.0.11.ecore"
            uri="http://org/ai4fm/proofprocess/zeves/v1.0.0.11">
      </resource>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.conversion_delegate">
      <factory
            class="org.ai4fm.proofprocess.zeves.parse.ZEvesConversionDelegateFactory"
            uri="http://org/ai4fm/proofprocess/zeves/conversion/v1.0.0">
      </factory>
   </extension>

</plugin>
