<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.ai4fm.proofprocess.ui"
            name="Proof Process">
      </category>
      <view
            allowMultiple="true"
            category="org.ai4fm.proofprocess.ui"
            class="org.ai4fm.proofprocess.ui.views.PProcessView"
            icon="icons/proofprocess.png"
            id="org.ai4fm.proofprocess.ui.PProcessView"
            name="Proof Process"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.ai4fm.proofprocess.ui"
            class="org.ai4fm.proofprocess.ui.views.PProcessGraphView"
            icon="icons/proofprocess.png"
            id="org.ai4fm.proofprocess.ui.PProcessGraphView"
            name="Proof Process Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.ai4fm.proofprocess.ui.trackProofProcessToggle"
            name="Toggle Proof Process Tracking">
         <state
               class="org.ai4fm.proofprocess.ui.actions.TrackPProcessState"
               id="toggleState">
         </state>
         <defaultHandler
               class="org.ai4fm.proofprocess.ui.actions.ToggleHandler">
            <parameter
                  name="org.ai4fm.proofprocess.ui.toggleHandler.commandId"
                  value="org.ai4fm.proofprocess.ui.trackProofProcessToggle">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.ai4fm.proofprocess.ui.trackLatestProofEntryToggle"
            name="Toggle Latest Proof Entry Tracking">
         <state
               class="org.ai4fm.proofprocess.ui.actions.TrackLatestProofEntryState"
               id="toggleState">
         </state>
         <defaultHandler
               class="org.ai4fm.proofprocess.ui.actions.ToggleHandler">
            <parameter
                  name="org.ai4fm.proofprocess.ui.toggleHandler.commandId"
                  value="org.ai4fm.proofprocess.ui.trackLatestProofEntryToggle">
            </parameter>
         </defaultHandler>
      </command>
      <command
            description="Mark Proof Process Features"
            id="org.ai4fm.proofprocess.ui.markFeatures"
            name="Mark Features">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.ai4fm.proofprocess.ui.main.toolbar">
            <command
                  commandId="org.ai4fm.proofprocess.ui.trackProofProcessToggle"
                  icon="icons/proofprocess.png"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.ai4fm.proofprocess.ui.PProcessView">
         <command
               commandId="org.ai4fm.proofprocess.ui.trackLatestProofEntryToggle"
               icon="icons/synced.gif"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.ai4fm.proofprocess.ui.PProcessView?after=edit">
         <command
               commandId="org.ai4fm.proofprocess.ui.markFeatures"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ai4fm.proofprocess.ui.prefs.PProcessUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.ai4fm.proofprocess.ui.actions.MarkFeaturesHandler"
            commandId="org.ai4fm.proofprocess.ui.markFeatures">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.ai4fm.proofprocess.ProofElem">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
