<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ai4fm.proofprocess.zeves.ui.views.ProofProcessView"
            id="org.ai4fm.proofprocess.zeves.ui.proofProcessView"
            name="Proof Process"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sourceforge.czt.eclipse.zeves.ui.ZEvesPerspective">
         <viewShortcut
               id="org.ai4fm.proofprocess.ui.PProcessView">
         </viewShortcut>
         <viewShortcut
               id="org.ai4fm.proofprocess.ui.PProcessGraphView">
         </viewShortcut>
         <view
               id="org.ai4fm.proofprocess.ui.PProcessView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
         <view
               id="org.ai4fm.proofprocess.ui.PProcessGraphView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.ai4fm.proofprocess.zeves.ui.internal.ZEvesPProcessUIStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.ai4fm.proofprocess.zeves.CztTerm"
            class="org.ai4fm.proofprocess.zeves.ui.term.CztTermSelectionSourceAdapter">
         <adapter
               type="org.ai4fm.proofprocess.ui.TermSelectionSourceProvider">
         </adapter>
      </factory>
   </extension>

</plugin>
