<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org/ai4fm/proofprocess/project/v1.0.0.10"
            class="org.ai4fm.proofprocess.project.ProjectProofProcessPackage"
            genModel="model/ProjectProofProcess.genmodel"/>
      <package
            uri="http://org/ai4fm/proofprocess/log/v1.0.0.10"
            class="org.ai4fm.proofprocess.log.ProofProcessLogPackage"
            genModel="model/ProofProcessLog.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="/model/history/ProjectProofProcess-v1.0.0.ecore"
            uri="http://org/ai4fm/proofprocess/project/v1.0.0">
      </resource>
      <resource
            location="/model/history/ProofProcessLog-v1.0.0.ecore"
            uri="http://org/ai4fm/proofprocess/log/v1.0.0">
      </resource>
   </extension>

</plugin>
