<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org/ai4fm/filehistory"
            class="org.ai4fm.filehistory.FileHistoryPackage"
            genModel="model/FileHistory.genmodel"/>
   </extension>

</plugin>
